@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'),
       local('Roboto-Regular'),
       url(../fonts/Roboto-Regular.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.ico-button{
  cursor: default;
}

body{
  background: #ececec;
}
.page-content{
  max-width: 700px;
  margin: auto;
}

.card.mdl-card {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
}

#summary {
  min-height: 80px;
}

#summary label{
  font-size: 12px;
  font-weight: bold;
  min-width: 100px;
  display: inline-block;
  text-align: right;
}

#summary .line.older {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}

#summary .line .section{
  display: inline-block;
  margin-left: 20px;
}

#summary .line .section .number{
  font-size: 28px;
}

#summary .line.older .section .number{
  font-size: 18px;
}

#textpad {
  border: none;
  outline: none;
}
#textpad .text-area{
  position: relative;
  font-family: 'Roboto Regular';
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 2px;
  background-color: rgba(238, 255, 166, 0.1);
  border: 2px inset #CCCFA0;
  word-wrap: break-word;
  cursor: default;
  padding: 10px;
  min-height: 180px;
  opacity: 0.5;
  color: #000;
}
#textpad:focus .text-area{
  opacity: 1.0;
}
#textpad .correct {
  color: green;
}
#textpad .error {
  color: red;
  background-color: #ff9;
}
@keyframes blink {
  20% { border-color: #0000ff; }
  50% { border-color: #ff00ff; }
  80% { border-color: #ff0000; }
}
#textpad .cursor {
  animation: none;
}
#textpad:focus .cursor{
  opacity: 1;
  border-bottom: solid 2px #000000;
  display: inline;
  animation: blink .4s step-end infinite alternate;
}

#butSetting{
  color: #fff;
}
