.mdl-layout {
    overflow: visible;
}
.mdl-layout__drawer {
    position: fixed;
}
.mdl-layout__content {
    display: block;
    overflow: visible;
    margin-top: 64px;
}
.is-small-screen .mdl-layout__content {
    margin-top: 56px;
}
.mdl-layout__header {
    position: fixed;
}
.mdl-layout__obfuscator {
    position: fixed;
}

.mdl-layout__drawer .mdl-navigation{
  .mdl-navigation__link{
    padding: 5px 40px;
  }
  .custom-label{
    padding: 5px 30px;
    font-style: italic;
  }
}
